.layout-container {
    display: flex;
    flex-direction: column; 
  }
  
  .header {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  
  .header-title {
    font-weight: bold;
    text-align: center;
  }
  
  .header-nav {
    display: flex;
    overflow-x: auto; 
    gap: 16px;
  }
  
  .header-item {
    cursor: pointer;
    padding: 8px;      
  }

  .header-item.active {
    border-bottom: 2px solid #5A189A; 
    color: #5A189A; 
    font-weight: bold;
  }
  
  .navbar {
    display: none;
  }
    
  /* Items display */
  .items-display {
    padding: 16px;
  }
  
  .items-title {
    font-weight: bold;
  }
  
  /* Items list */
  .items-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    gap: 16px; /* Space between items */
  }
  
  /* Item card styles */
  .item-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Media query for large screens */
  @media (min-width: 1024px) {
    .layout-container {
      flex-direction: row; /* Change to row for large screens */
    }
  
    .header {
      display: none; 
    }
  
    .navbar {
      display: none; /* Hidden by default */
      width: 400px; /* Fixed width for the navbar */
      padding: 32px; /* Optional: Add padding */
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    .navbar-title {
      font-weight: bold;
      margin-bottom: 8px;
    }
    
    .navbar-list {
      list-style: none;
      padding: 0;
    }
    
    .navbar-item {
      cursor: pointer;
      border-left: 2px solid lightgray;
      padding: 8px;      
    }

    .navbar-item.active {
      border-left: 2px solid #5A189A; 
      color: #5A189A; 
      font-weight: bold;
    }
  
    .items-display {
      width: 75%; /* Optional: Set width for items display */
      padding-left: 16px;
    }
  }
  