.layout-container {
    display: flex;
    flex-direction: column; 
  }
  
  .header {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  
  .header-title {
    font-weight: bold;
    text-align: center;
  }
  
  .header-nav {
    display: flex;
    overflow-x: auto; 
    gap: 16px;
  }
  
  .header-item {
    cursor: pointer;
    padding: 8px;
    color: black !important      
  }

  .header-item.active {
    border-bottom: 2px solid #5A189A; 
    color: #5A189A !important; 
    font-weight: bold;
  }
  
  .navbar {
    display: none;
  }
  
  .items-display {
    padding: 16px;
    flex-grow: 1; 
  }

  .section-disabled-text {
    color: red;
  }

  .section-disabled {
    position: relative;
  }
  
  .section-disabled::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E6D4F0;
    opacity: 0.6;
  }

  .items-title {
    font-weight: bold;
  }
  
  .items-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  
  @media (min-width: 1024px) {
    .layout-container {
      flex-direction: row; 
    }
  
    .header {
      display: none; 
    }
  
    .navbar {
      width: 300px; 
      padding: 32px; 
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 0;
      height: 100%;
    }

    .navbar-title {
      font-weight: bold;
    }
    
    .navbar-list {
      display: flex;
      flex-direction: column;
    }
    
    .navbar-item {
      cursor: pointer;
      border-left: 2px solid lightgray;
      padding: 8px; 
      color: black !important        
    }

    .navbar-item.active {
      border-left: 2px solid #5A189A; 
      color: #5A189A !important; 
      font-weight: bold;
    }

    .items-list {
      grid-template-columns: repeat(3, 1fr);
    }
  
    /* .items-display {
      width: 75%; 
      padding-left: 16px;
    } */
  }
  